body {

    font-family: 'Poppins', sans-serif;
    margin: 0;

}

h1 {
    font-size: 30px;
}

.orange-club {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;
}

.half-width {
    width: 50%;
    padding-left: 2%;
}

.half-width img {
    width: 70%;
}

.link-button {
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(red, orange);
    color: black;

}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dreamer {
    width: 50%;
    padding-left: 3%;
}

.dreamer img {
    width: 70%;
}

.dream-big {
    background-image: url(gif.jpg);
    background-repeat: no-repeat;
}

.experiences {
    background-image: url(blank.jpg);
    background-repeat: no-repeat;

}

.experience-item {
    width: 40%;
    padding-left: 5%;
    padding-right: 5%;
    box-shadow: 10px 10px 40px gray;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    background-image: left;


}

#unique {
    border-left: 5px solid red;
}

#item {
    border-left: 5px solid palevioletred;
}

footer p {
    text-align: center;
}